.lv-products-list-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -3px;
 }
 @media (max-width: 1100px){
    .lv-products-list-title {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1300px){
    .lv-products-list-title{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.lv-product-card-medias{
    display: block;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    padding: 1.5rem 1rem;
    position: relative;
    background-image: url(../lv-asset/gradient_default.svg);
    background-size: cover;
    background-position: center;
}
.lv-product-card-medias img{
    width: 280px;
    margin-left: 20px;
}
.lv-product-card-medias .btn-icons{
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
    top: 15px;
    right: 15px;
}
.lv-product-card-medias .lv-wish-cart{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    top: 15px;
    left: 15px;
}
.lv-product-card-medias .lv-product-card-info{
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: 10%;
    font-family: Roboto, Arial;
    margin-top: 15px;
}